# Analysis of the greenhouse gas emissions in Europe from 1990 until 2017

Data obtained from the Eurostat database from the following link: __[https://ec.europa.eu/eurostat/databrowser/view/sdg_13_10/](https://ec.europa.eu/eurostat/databrowser/view/sdg_13_10/)__

In [108]:
# importing the needed libraries
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

# read the data tab-separeted-values using pandas csv command
ghg_emisions= pd.read_csv('sdg_13_10.tsv', sep='\t')

ghg_emisions.head()

,"indic_env,geo\time",1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,"GHG_I90,AT",100.0,104.8,96.6,96.9,97.3,101.7,106.0,105.5,104.7,...,111.9,103.4,109.1,106.4,102.9,103.5,98.9,101.9,103.0,106.2
1,"GHG_I90,BE",100.0,101.4,101.2,100.5,103.6,105.3,108.0,102.5,106.2,...,95.6,87.0,91.6,84.6,82.5,82.3,78.5,81.2,80.3,79.7
2,"GHG_I90,BG",100.0,81.8,76.7,75.9,72.2,73.6,73.5,70.4,66.6,...,65.9,57.0,59.5,64.7,59.7,54.6,57.6,60.7,58.2,60.5
3,"GHG_I90,CH",100.0,103.1,103.0,98.7,97.0,98.9,100.2,98.4,101.6,...,102.7,100.0,103.1,96.4,99.1,100.6,93.8,93.2,94.2,92.7
4,"GHG_I90,CY",100.0,110.2,116.6,119.0,123.3,123.6,128.5,129.7,135.5,...,170.4,165.7,161.0,155.9,147.0,134.9,140.8,141.7,150.6,155.7

In [109]:
ghg_emisions.tail()

,"indic_env,geo\time",1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
65,"GHG_T_HAB,SE",8.5,8.4,8.3,8.3,8.5,8.5,8.9,8.3,8.4,...,7.1,6.5,7.1,6.6,6.2,6.0,5.8,5.7,5.6,5.5
66,"GHG_T_HAB,SI",9.4,8.7,8.7,8.9,9.1,9.4,9.8,10.0,9.8,...,10.7 b,9.6,9.6,9.6,9.3,8.9,8.1,8.2,8.6,8.5
67,"GHG_T_HAB,SK",13.9,12.1,11.0,10.3,9.9,9.9,9.9,9.9,9.7,...,9.3,8.5,8.6,8.5,8.0,7.9,7.5,7.7,7.8,8.0
68,"GHG_T_HAB,TR",3.9,4.0,4.0,4.1,3.9,4.0,4.3,4.4,4.3,...,5.5,5.6,5.5,5.9,6.0,5.9,6.1,6.2,6.4,6.7
69,"GHG_T_HAB,UK",14.1,14.3,13.9,13.5,13.4,13.2,13.6,13.1,13.1,...,11.1,10.1,10.2,9.4,9.6,9.3,8.6,8.3,7.9,7.7

The present data refers to the CO2 equivalent base per year 1990 with the text 'GHG_I90' , and with 'GHG_T_HAB' to tonnes per capita.

In [110]:
ghg_emisions.columns

Index(['indic_env,geo\time', '1990 ', '1991 ', '1992 ', '1993 ', '1994 ',
       '1995 ', '1996 ', '1997 ', '1998 ', '1999 ', '2000 ', '2001 ', '2002 ',
       '2003 ', '2004 ', '2005 ', '2006 ', '2007 ', '2008 ', '2009 ', '2010 ',
       '2011 ', '2012 ', '2013 ', '2014 ', '2015 ', '2016 ', '2017 '],
      dtype='object')

In [111]:
ghg_emisions.index

RangeIndex(start=0, stop=70, step=1)

In [112]:
ghg_emisions.values

array([['GHG_I90,AT', '100.0 ', '104.8 ', ..., '101.9 ', 103.0, '106.2 '],
       ['GHG_I90,BE', '100.0 ', '101.4 ', ..., '81.2 ', 80.3, '79.7 '],
       ['GHG_I90,BG', '100.0 ', '81.8 ', ..., '60.7 ', 58.2, '60.5 '],
       ...,
       ['GHG_T_HAB,SK', '13.9 ', '12.1 ', ..., '7.7 ', 7.8, '8.0 '],
       ['GHG_T_HAB,TR', '3.9 ', '4.0 ', ..., '6.2 ', 6.4, '6.7 '],
       ['GHG_T_HAB,UK', '14.1 ', '14.3 ', ..., '8.3 ', 7.9, '7.7 ']],
      dtype=object)

In [113]:
ghg_emisions.describe()

,2002,2003,2004,2005,2006,2007,2009,2013,2016
count,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000,70.000000
mean,53.991429,55.444286,55.797143,55.804286,56.412857,56.642857,52.177143,49.662857,48.731429
std,47.616432,48.877939,49.328529,49.765224,50.449265,50.979756,48.148765,46.166417,47.012297
min,4.400000,4.600000,4.700000,5.000000,5.200000,5.600000,5.400000,5.800000,5.000000
25%,10.300000,10.500000,10.625000,10.625000,10.650000,10.525000,9.600000,9.100000,8.625000
50%,34.550000,35.350000,36.800000,37.250000,37.650000,37.850000,33.500000,32.100000,31.000000
75%,100.575000,101.100000,101.950000,99.175000,99.825000,99.000000,92.900000,86.000000,82.875000
max,148.500000,155.600000,157.400000,159.100000,164.400000,179.800000,182.400000,203.700000,231.700000

In [114]:
ghg_emisions['2017 ']

0     106.2
1      79.7
2      60.5
3      92.7
4     155.7
       ...
65      5.5
66      8.5
67      8.0
68      6.7
69      7.7
Name: 2017 , Length: 70, dtype: object

We check if there is any `NaN` in our data.

In [115]:
ghg_emisions.isna().sum()

indic_env,geo\time    0
1990                  0
1991                  0
1992                  0
1993                  0
1994                  0
1995                  0
1996                  0
1997                  0
1998                  0
1999                  0
2000                  0
2001                  0
2002                  0
2003                  0
2004                  0
2005                  0
2006                  0
2007                  0
2008                  0
2009                  0
2010                  0
2011                  0
2012                  0
2013                  0
2014                  0
2015                  0
2016                  0
2017                  0
dtype: int64

We observe that all years and all countries are filled with the correspondent amount of green house gas emision, and we don't have to deal with `NaN` values.

In [116]:
ghg_em_i90 = ghg_emisions[0:35]

In [117]:
ghg_em_t_hab = ghg_emisions[35:-1]